DATA_PATH=./data
# Default local SQLite:
# DATABASE_URL=sqlite:///./data/database.db
# PostgreSQL example:
DATABASE_URL=postgresql://basicvids_history_user:change_me@host.docker.internal:5432/basicvids_history
REDIS_URL=redis://basicvids_redis:6379/4
AUTH_CURRENT_USER_URL=http://basicvids_auth:8000/api/v1/users/detail/
